body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: small;
    background-color: #f0e68c;

    top: 0;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
  }

  h1{
      font-size: xx-large;
  }

  .example {
    background-color: rgb(255, 247, 253);
    width: 330px;
    margin: auto;
    font-size: small;
  }

  ul {
    list-style: none;
    padding-left: 0;
    padding: 20px;
    border-radius: 20px;
  }
